Run started:2025-04-12 14:24:45.902941

Test results:
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/docs/conf.py:30
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
29	    with codecs.open(os.path.join(root, *parts), "r") as fp:
30	        return fp.read()
31	

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/docs/conf.py:34
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
33	def find_version(*file_paths):
34	    version_file = read(*file_paths)
35	    version_match = re.search(r"^__version__ = ['\"]([^'\"]*)['\"]", version_file, re.M)

--------------------------------------------------
>> Issue: [B824:url_found] url_found
   Severity: Medium   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/docs/conf.py:102
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b824_url_found.html
101	extlinks = {
102	    "issue": ("https://github.com/sarugaku/requirementslib/issues/%s", "#"),
103	    "pull": ("https://github.com/sarugaku/requirementslib/pull/%s", "PR #"),

--------------------------------------------------
>> Issue: [B824:url_found] url_found
   Severity: Medium   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/docs/conf.py:103
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b824_url_found.html
102	    "issue": ("https://github.com/sarugaku/requirementslib/issues/%s", "#"),
103	    "pull": ("https://github.com/sarugaku/requirementslib/pull/%s", "PR #"),
104	}

--------------------------------------------------
>> Issue: [B824:url_found] url_found
   Severity: Medium   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/docs/conf.py:218
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b824_url_found.html
217	# -- Extension configuration -------------------------------------------------
218	intersphinx_mapping = {"python": ("https://docs.python.org/3", None)}

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/setup.py:13
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
12	    with open(os.path.join(here, *parts), encoding="utf-8") as fp:
13	        return fp.read()
14	

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/setup.py:17
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
16	def find_version(*file_paths):
17	    version_file = read(*file_paths)
18	    version_match = re.search(r"^__version__ = ['\"]([^'\"]*)['\"]", version_file, re.M)

--------------------------------------------------
>> Issue: [B818:urlopen] urllib.request.urlopen
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/fileutils.py:187
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b818_urlopen.html
186	        if session is None:
187	            with closing(urllib_request.urlopen(link)) as f:
188	                yield f

--------------------------------------------------
>> Issue: [B820:get] requests.get
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/fileutils.py:190
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b820_get.html
189	        else:
190	            with session.get(link, headers=headers, stream=stream) as resp:
191	                try:

--------------------------------------------------
>> Issue: [B824:url_found] url_found
   Severity: Medium   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/dependencies.py:31
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b824_url_found.html
30	    if not sources:
31	        sources = [{"url": "https://pypi.org/simple", "name": "pypi", "verify_ssl": True}]
32	    os.makedirs(CACHE_DIR, mode=0o777, exist_ok=True)

--------------------------------------------------
>> Issue: [B824:url_found] url_found
   Severity: Medium   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/dependencies.py:56
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b824_url_found.html
55	    if not sources:
56	        sources = [{"url": "https://pypi.org/simple", "name": "pypi", "verify_ssl": True}]
57	    if not pip_options:

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/lockfile.py:104
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
103	    def read_projectfile(cls, path):
104	        pf = ProjectFile.read(path, lockfiles.Lockfile, invalid_ok=True)
105	        return pf

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/lockfile.py:259
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
258	        self.projectfile.model = copy.deepcopy(self.lockfile)
259	        self.projectfile.write()

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/metadata.py:133
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
132	    with open_file(whl_file) as fp:
133	        for chunk in iter(lambda: fp.read(8096), b""):
134	            data.write(chunk)

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/metadata.py:134
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
133	        for chunk in iter(lambda: fp.read(8096), b""):
134	            data.write(chunk)
135	    with zipfile.ZipFile(data, mode="r", compression=zipfile.ZIP_DEFLATED) as zf:

--------------------------------------------------
>> Issue: [B820:get] requests.get
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/metadata.py:513
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b820_get.html
512	                if not self.requires_python:
513	                    results["requires_python"] = metadata._legacy.get("Requires-Python")
514	        else:

--------------------------------------------------
>> Issue: [B820:get] requests.get
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/metadata.py:925
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b820_get.html
924	                markers = url.markers
925	                dep_list = dep_dict.get("requires_dist", [])
926	                for dep in dep_list:

--------------------------------------------------
>> Issue: [B824:url_found] url_found
   Severity: Medium   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/metadata.py:1049
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b824_url_found.html
1048	    # type: (str) -> Package
1049	    url = "https://pypi.org/pypi/{}/json".format(name)
1050	    with requests.get(url) as r:

--------------------------------------------------
>> Issue: [B820:get] requests.get
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/metadata.py:1050
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b820_get.html
1049	    url = "https://pypi.org/pypi/{}/json".format(name)
1050	    with requests.get(url) as r:
1051	        r.raise_for_status()

--------------------------------------------------
>> Issue: [B824:url_found] url_found
   Severity: Medium   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/metadata.py:1059
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b824_url_found.html
1058	    # type: (str, str) -> Package
1059	    url = "https://pypi.org/pypi/{0}/{1}/json".format(name, version)
1060	    with requests.get(url) as r:

--------------------------------------------------
>> Issue: [B820:get] requests.get
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/metadata.py:1060
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b820_get.html
1059	    url = "https://pypi.org/pypi/{0}/{1}/json".format(name, version)
1060	    with requests.get(url) as r:
1061	        r.raise_for_status()

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/pipfile.py:91
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
90	        # type: (Any, Text) -> PipfileLoader
91	        content = f.read()
92	        if encoding is not None:

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/pipfile.py:242
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
241	        """
242	        pf = ProjectFile.read(path, PipfileLoader, invalid_ok=True)
243	        return pf

--------------------------------------------------
>> Issue: [B810:chmod] os.chmod
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py:279
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b810_chmod.html
278	    file_stat = os.stat(fn).st_mode
279	    os.chmod(fn, file_stat | stat.S_IRWXU | stat.S_IRWXG | stat.S_IRWXO)
280	    if os.name == "nt":

--------------------------------------------------
>> Issue: [B315:blacklist] os.chmod
   Severity: Medium   Confidence: High
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py:279
   More Info: https://bandit.readthedocs.io/en/latest/blacklists/blacklist_calls.html#b313-b320-os-chmod
278	    file_stat = os.stat(fn).st_mode
279	    os.chmod(fn, file_stat | stat.S_IRWXU | stat.S_IRWXG | stat.S_IRWXO)
280	    if os.name == "nt":

--------------------------------------------------
>> Issue: [B836:rmtree] shutil.rmtree
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py:424
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b836_rmtree.html
423	    try:
424	        shutil.rmtree(directory, ignore_errors=ignore_errors, onerror=onerror)
425	    except (IOError, OSError, FileNotFoundError, PermissionError) as exc:  # noqa:B014

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py:449
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
448	        with file.open(encoding="utf-8-sig") as f:
449	            content = f.read()
450	

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py:479
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
478	
479	        parser.read(str(file))
480	

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py:1150
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
1149	            with open(script_name, "rb") as f:
1150	                contents = f.read().replace(rb"\r\n", rb"\n")
1151	                exec(contents, g)

--------------------------------------------------
>> Issue: [B800:exec_used] exec
   Severity: Medium   Confidence: High
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py:1151
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b800_exec_used.html
1150	                contents = f.read().replace(rb"\r\n", rb"\n")
1151	                exec(contents, g)
1152	        # We couldn't import everything needed to run setup

--------------------------------------------------
>> Issue: [B836:rmtree] shutil.rmtree
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py:1737
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b836_rmtree.html
1736	                if os.path.isdir(location):
1737	                    rmtree(location)
1738	                _copy_source_tree(ireq.link.file_path, location)

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/utils.py:470
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
469	        with open(pp_toml.as_posix(), encoding="utf-8") as fh:
470	            pyproject_data = tomlkit.loads(fh.read())
471	        build_system = pyproject_data.get("build-system", None)

--------------------------------------------------

Code scanned:
	Total lines of code: 8330
	Total lines skipped (#nosec): 0

Run metrics:
	Total issues (by severity):
		Undefined: 0.0
		Low: 0.0
		Medium: 9.0
		High: 23.0
	Total issues (by confidence):
		Undefined: 0.0
		Low: 0.0
		Medium: 30.0
		High: 2.0
Files skipped (0):
