Run started:2025-04-12 11:29:36.264748

Test results:
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/setup.py:13
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
12	with open("README.md", "r") as f:
13	    long_description = f.read()
14	

--------------------------------------------------
>> Issue: [B824:url_found] url_found
   Severity: Medium   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/setup.py:34
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b824_url_found.html
33	    version=version,
34	    url="https://github.com/rehandalal/sort-requirements",
35	    license="Mozilla Public License Version 2.0",

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/sort_requirements/script.py:21
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
20	
21	        write("All done! 🎉\n")
22	

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/sort_requirements/script.py:24
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
23	        if changed:
24	            write(
25	                "{} file(s) changed, {} file(s) unchanged.\n".format(
26	                    changed, total - changed
27	                )

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/sort_requirements/script.py:30
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
29	        else:
30	            write("{} file(s) unchanged.\n".format(total))
31	

--------------------------------------------------
>> Issue: [B814:read] os.read
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/sort_requirements/script.py:71
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b814_read.html
70	        with open(path, "r") as f:
71	            original = f.read()
72	            modified = sort_requirements(original)

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/sort_requirements/script.py:86
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
85	                )
86	                sys.stderr.write("\n")
87	

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/sort_requirements/script.py:92
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
91	                with open(path, "w") as f:
92	                    f.write(modified)
93	

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/sort_requirements/script.py:96
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
95	        if args.check and not args.quiet:
96	            sys.stderr.write("Some files need sorting:\n")
97	            for f in failed:

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/sort_requirements/script.py:98
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
97	            for f in failed:
98	                sys.stderr.write("- {}\n".format(os.path.relpath(f)))
99	            sys.stderr.write("\n")

--------------------------------------------------
>> Issue: [B815:write] os.write
   Severity: High   Confidence: Medium
   Location: /home/blue/PyPIAgent/Dataset/study/unzip_benign/sort_requirements-1.3.0/sort_requirements-1.3.0/sort_requirements/script.py:99
   More Info: https://bandit.readthedocs.io/en/latest/plugins/b815_write.html
98	                sys.stderr.write("- {}\n".format(os.path.relpath(f)))
99	            sys.stderr.write("\n")
100	

--------------------------------------------------

Code scanned:
	Total lines of code: 151
	Total lines skipped (#nosec): 0

Run metrics:
	Total issues (by severity):
		Undefined: 0.0
		Low: 0.0
		Medium: 1.0
		High: 10.0
	Total issues (by confidence):
		Undefined: 0.0
		Low: 0.0
		Medium: 11.0
		High: 0.0
Files skipped (0):
