metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/flake8_requirements-2.2.1-py3-none-any/flake8_requirements-2.2.1.dist-info/METADATA
0x5ec:$eval_call: eval()
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/flake8_requirements-2.2.1-py3-none-any/flake8_requirements/checker.py
0x14bd:$compile_call: compile(t
0x39a0:$compile_call: compile(\x0A
0x39ed:$compile_call: compile(\x0A
0x3a3e:$compile_call: compile(\x0A
0x3aac:$compile_call: compile(\x0A
0x3b45:$compile_call: compile(\x0A
0x3b90:$compile_call: compile(\x0A
0x3be7:$compile_call: compile(\x0A
0x24e1:$dir_call: dir =
0x3072:$dir_call: dir =
0x3092:$dir_call: dir(o
0x3245:$dir_call: dir i
0x3296:$dir_call: dir(s
0x329f:$dir_call: dir)\x0A
0x3357:$dir_call: dir, 
0x339e:$dir_call: dir, 
0x363e:$dir_call: dir(p
0x3861:$dir_call: dir, 
0x38ed:$dir_call: dir, 
0x405b:$dir_call: dir, 
0x4989:$dir_call: dir, 
0x561f:$dir_call: dir, 
0x58f8:$dir_call: dir, 
0x5ce1:$dir_call: dir, 
0x5d3b:$dir_call: dir)\x0A
0x5dd1:$dir_call: dir)\x0A
0x6a0d:$dir_call: dir, 
0x14b8:$eval_call: eval(c
0x1701:$eval_call: eval()
0x1cfd:$getattr_call: getattr(n
