metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/kconfiglib-14.1.1a4/kconfiglib-14.1.1a4/genconfig.py
0x1355:$vars_call: vars:\x0A
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/kconfiglib-14.1.1a4/kconfiglib-14.1.1a4/guiconfig.py
0xe7dd:$compile_call: compile(r
0x2845:$globals_call: globals()
0x2899:$globals_call: globals()
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/kconfiglib-14.1.1a4/kconfiglib-14.1.1a4/menuconfig.py
0x108c9:$compile_call: compile(r
0x18a13:$obfuscation_chr:  chr(c
subprocess_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/kconfiglib-14.1.1a4/kconfiglib-14.1.1a4/kconfiglib.py
0x3d0f7:$assign_alias_subprocess: stderr = subprocess
0x3d0f8:$assign_alias_subprocess: tderr = subprocess
0x3d0f9:$assign_alias_subprocess: derr = subprocess
0x3d0fa:$assign_alias_subprocess: err = subprocess
0x3d0fb:$assign_alias_subprocess: rr = subprocess
0x3d0fc:$assign_alias_subprocess: r = subprocess
0x3d12f:$assign_alias_subprocess: stdout=subprocess
0x3d130:$assign_alias_subprocess: tdout=subprocess
0x3d131:$assign_alias_subprocess: dout=subprocess
0x3d132:$assign_alias_subprocess: out=subprocess
0x3d133:$assign_alias_subprocess: ut=subprocess
0x3d134:$assign_alias_subprocess: t=subprocess
0x3d147:$assign_alias_subprocess: stderr=subprocess
0x3d148:$assign_alias_subprocess: tderr=subprocess
0x3d149:$assign_alias_subprocess: derr=subprocess
0x3d14a:$assign_alias_subprocess: err=subprocess
0x3d14b:$assign_alias_subprocess: rr=subprocess
0x3d14c:$assign_alias_subprocess: r=subprocess
0x7c4:$bare_run: run
0x8aa:$bare_run: run
0xd3e:$bare_run: run
0x10df:$bare_run: run
0x133c:$bare_run: run
0x1a84:$bare_run: run
0x1ebf:$bare_run: run
0x4411:$bare_run: run
0x64c6:$bare_run: run
0x85b5:$bare_run: run
0x108ab:$bare_run: run
0x10e43:$bare_run: run
0x11729:$bare_run: run
0x1657c:$bare_run: run
0x1e10a:$bare_run: run
0x20b71:$bare_run: run
0x259f6:$bare_run: run
0x286f3:$bare_run: run
0x28ff1:$bare_run: run
0x2ab24:$bare_run: run
0x2eda2:$bare_run: run
0x30c22:$bare_run: run
0x39d2b:$bare_run: run
0x3b3ed:$bare_run: run
0x3b5fb:$bare_run: run
0x3ca4f:$bare_run: run
0x3d663:$bare_run: run
0x3d10b:$bare_Popen: Popen
0x3d44f:$bare_Popen: Popen
0x1716:$bare_call: call
0x1837:$bare_call: call
0x2a20:$bare_call: call
0x3470:$bare_call: call
0x46ac:$bare_call: call
0x49ca:$bare_call: call
0x4a70:$bare_call: call
0x4ab5:$bare_call: call
0x4bd4:$bare_call: call
0x5568:$bare_call: call
0x88e7:$bare_call: call
0xa705:$bare_call: call
0xab89:$bare_call: call
0xd097:$bare_call: call
0xdcae:$bare_call: call
0x10591:$bare_call: call
0x1092c:$bare_call: call
0x1114f:$bare_call: call
0x112e7:$bare_call: call
0x116ad:$bare_call: call
0x116ce:$bare_call: call
0x11e00:$bare_call: call
0x12ec7:$bare_call: call
0x195b2:$bare_call: call
0x19894:$bare_call: call
0x19ef9:$bare_call: call
0x19f8f:$bare_call: call
0x1a1d2:$bare_call: call
0x1a5c5:$bare_call: call
0x1e19e:$bare_call: call
0x20591:$bare_call: call
0x20af8:$bare_call: call
0x219a2:$bare_call: call
0x25a47:$bare_call: call
0x27be5:$bare_call: call
0x28425:$bare_call: call
0x29af8:$bare_call: call
0x2a62c:$bare_call: call
0x2ac88:$bare_call: call
0x2ca2a:$bare_call: call
0x2cf3b:$bare_call: call
0x2db6d:$bare_call: call
0x2ede9:$bare_call: call
0x30724:$bare_call: call
0x31cb6:$bare_call: call
0x320ad:$bare_call: call
0x322c2:$bare_call: call
0x32c9e:$bare_call: call
0x3622e:$bare_call: call
0x36f47:$bare_call: call
0x374b8:$bare_call: call
0x3af1e:$bare_call: call
0x3b466:$bare_call: call
0x3b625:$bare_call: call
0x3d100:$alias_Popen: subprocess.Popen
0x3d101:$alias_Popen: ubprocess.Popen
0x3d102:$alias_Popen: bprocess.Popen
0x3d103:$alias_Popen: process.Popen
0x3d104:$alias_Popen: rocess.Popen
0x3d105:$alias_Popen: ocess.Popen
0x3d106:$alias_Popen: cess.Popen
0x3d107:$alias_Popen: ess.Popen
0x3d108:$alias_Popen: ss.Popen
0x3d109:$alias_Popen: s.Popen
0x3d100:$fq_Popen: subprocess.Popen
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/kconfiglib-14.1.1a4/kconfiglib-14.1.1a4/kconfiglib.py
0x4da8:$import_importlib: import importlib
0x3847e:$compile_call: compile(r
0x3ef4e:$compile_call: compile(r
0x3efa6:$compile_call: compile(r
0x1104b:$dir_call: dir(p
0x39cb7:$dir_call: dir =
0x39cea:$dir_call: dir):
0x39d0d:$dir_call: dir, 
0x4e5e:$vars_call: vars, 
0x5af0:$vars_call: vars:\x0A
0x9a9d:$vars_call: vars =
0x17311:$vars_call: vars()
0x173b9:$vars_call: vars()
0x174d9:$vars_call: vars(s
