metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/pip_requirements_parser-32.0.1-py3-none-any/packaging_legacy_version.py
0xdab:$compile_call: compile(r
networking_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/pip_requirements_parser-32.0.1-py3-none-any/pip_requirements_parser.py
0x5be:$import_urllib: import urllib.parse
0x5d2:$import_urllib: import urllib.request
0x5be:$import_urllib_sub: import urllib.parse
0x5d2:$import_urllib_sub: import urllib.request
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/pip_requirements_parser-32.0.1-py3-none-any/pip_requirements_parser.py
0x3d2b:$compile_call: compile(\x0A
0x5684:$compile_call: compile(r
0x6d16:$compile_call: compile "
0x8175:$compile_call: compile(r
0x81ab:$compile_call: compile(r
0xe226:$compile_call: compile(r
0xe326:$compile_call: compile(r
0xe430:$compile_call: compile(\x0A
0x149ef:$compile_call: compile(r
0x16b5d:$compile_call: compile(\x0A
0x179a:$dir_call: dir w
0x24fc:$dir_call: dir =
0x2523:$dir_call: dir =
0x2561:$dir_call: dir /
0x2637:$dir_call: dir a
0x267a:$dir_call: dir),
0x121f3:$dir_call: dir w
0x15a16:$dir_call: dir, 
0x9ae3:$getattr_call: getattr(o
