metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/docs/conf.py
0x186a:$dir_call: dir m
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/markers.py
0xe45:$getattr_call: getattr(s
0x4e57:$getattr_call: getattr(m
0x5556:$getattr_call: getattr(m
networking_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/url.py
0x3f:$from_urllib_import: from urllib.parse import
0x5e:$from_urllib_import: from urllib.parse import
0x8e:$from_urllib_import: from urllib.parse import
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/url.py
0x1996:$dir_call: dir =
0x19e5:$dir_call: dir =
0x1a3f:$dir_call: dir =
0x1a88:$dir_call: dir =
0x280c:$dir_call: dir: 
0x2e77:$dir_call: dir:\x0A
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/lockfile.py
0x2b8:$dir_call: dir).
0xf92:$dir_call: dir()
0x1554:$dir_call: dir(p
0x159a:$dir_call: dir(p
0x15b2:$dir_call: dir(o
0x19c7:$dir_call: dir(p
0x81f:$getattr_call: getattr(l
0x993:$getattr_call: getattr(r
0xa99:$getattr_call: getattr(l
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/metadata.py
0x452c:$getattr_call: getattr(s
0x6e67:$getattr_call: getattr(r
networking_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/requirements.py
0x133:$from_urllib_import: from urllib import
0x15c:$from_urllib_import: from urllib.parse import
0x194:$from_urllib_import: from urllib.request import
0xd005:$from_urllib_import: from urllib.parse import
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/requirements.py
0x329:$dir_call: dir i
0x5c7:$dir_call: dir,\x0A
0x6be:$dir_call: dir,\x0A
0x2f25:$dir_call: dir(p
0x71a9:$dir_call: dir(s
0x72b5:$dir_call: dir(s
0x73c9:$dir_call: dir(s
0x7591:$dir_call: dir(w
0x82fa:$dir_call: dir(p
0xdc82:$dir_call: dir(s
0x1255b:$dir_call: dir(s
0x12587:$dir_call: dir =
0x125b8:$dir_call: dir e
0x125da:$dir_call: dir =
0x126a9:$dir_call: dir =
0x126f8:$dir_call: dir i
0x1271e:$dir_call: dir =
0x12745:$dir_call: dir),
0x12772:$dir_call: dir, 
0x127d5:$dir_call: dir(p
0x128af:$dir_call: dir i
0x128d1:$dir_call: dir =
0x128e9:$dir_call: dir(s
0x128f9:$dir_call: dir)\x0A
0x129c3:$dir_call: dir,\x0A
0x12ac8:$dir_call: dir, 
0x12b35:$dir_call: dir, 
0x12bad:$dir_call: dir, 
0x12c08:$dir_call: dir, 
0x12c51:$dir_call: dir, 
0x12c9c:$dir_call: dir)\x0A
0x12f7d:$dir_call: dir: 
0x12fd9:$dir_call: dir:\x0A
0x12fee:$dir_call: dir =
0x13007:$dir_call: dir(p
0x13065:$dir_call: dir)\x0A
0x32d1:$getattr_call: getattr(r
0x5b99:$getattr_call: getattr(s
0x7c94:$getattr_call: getattr(s
0xb755:$getattr_call: getattr(r
0xb798:$getattr_call: getattr(r
0xb7ff:$getattr_call: getattr(r
0xe7f7:$getattr_call: getattr(s
0xe847:$getattr_call: getattr(s
0xee6c:$getattr_call: getattr(s
0xeeae:$getattr_call: getattr(s
0xef46:$getattr_call: getattr(s
0xef9f:$getattr_call: getattr(s
0x1025d:$getattr_call: getattr(s
0x10bad:$getattr_call: getattr(s
0x11d5b:$getattr_call: getattr(r
0x14091:$getattr_call: getattr(s
0x1411f:$getattr_call: getattr(s
0x16f80:$getattr_call: getattr(r
0x183ed:$getattr_call: getattr(s
0x188eb:$getattr_call: getattr(c
0x19068:$getattr_call: getattr(s
0x191de:$getattr_call: getattr(i
0x1927c:$getattr_call: getattr(i
0x1929b:$getattr_call: getattr(i
0x19d48:$getattr_call: getattr(s
0x16a84:$dunder_dict_call: .__dict__)\x0A
process_spawn_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py
0x6fa:$assign_alias_os: CACHE_DIR = os
0x6fb:$assign_alias_os: ACHE_DIR = os
0x6fc:$assign_alias_os: CHE_DIR = os
0x6fd:$assign_alias_os: HE_DIR = os
0x6fe:$assign_alias_os: E_DIR = os
0x6ff:$assign_alias_os: _DIR = os
0x700:$assign_alias_os: DIR = os
0x701:$assign_alias_os: IR = os
0x702:$assign_alias_os: R = os
0x877:$assign_alias_os: env = os
0x878:$assign_alias_os: nv = os
0x879:$assign_alias_os: v = os
0xb30:$assign_alias_os: source_dir = os
0xb31:$assign_alias_os: ource_dir = os
0xb32:$assign_alias_os: urce_dir = os
0xb33:$assign_alias_os: rce_dir = os
0xb34:$assign_alias_os: ce_dir = os
0xb35:$assign_alias_os: e_dir = os
0xb36:$assign_alias_os: _dir = os
0xb37:$assign_alias_os: dir = os
0xb38:$assign_alias_os: ir = os
0xb39:$assign_alias_os: r = os
0xea3:$assign_alias_os: file_stat = os
0xea4:$assign_alias_os: ile_stat = os
0xea5:$assign_alias_os: le_stat = os
0xea6:$assign_alias_os: e_stat = os
0xea7:$assign_alias_os: _stat = os
0xea8:$assign_alias_os: stat = os
0xea9:$assign_alias_os: tat = os
0xeaa:$assign_alias_os: at = os
0xeab:$assign_alias_os: t = os
0x120e:$assign_alias_os: icacls_path = os
0x120f:$assign_alias_os: cacls_path = os
0x1210:$assign_alias_os: acls_path = os
0x1211:$assign_alias_os: cls_path = os
0x1212:$assign_alias_os: ls_path = os
0x1213:$assign_alias_os: s_path = os
0x1214:$assign_alias_os: _path = os
0x1215:$assign_alias_os: path = os
0x1216:$assign_alias_os: ath = os
0x1217:$assign_alias_os: th = os
0x1218:$assign_alias_os: h = os
0x1deb:$assign_alias_os: L = os
0x2133:$assign_alias_os: file_stat = os
0x2134:$assign_alias_os: ile_stat = os
0x2135:$assign_alias_os: le_stat = os
0x2136:$assign_alias_os: e_stat = os
0x2137:$assign_alias_os: _stat = os
0x2138:$assign_alias_os: stat = os
0x2139:$assign_alias_os: tat = os
0x213a:$assign_alias_os: at = os
0x213b:$assign_alias_os: t = os
0x6b7e:$assign_alias_os: src = os
0x6b7f:$assign_alias_os: rc = os
0x6b80:$assign_alias_os: c = os
0x6bc1:$assign_alias_os: virtual_env = os
0x6bc2:$assign_alias_os: irtual_env = os
0x6bc3:$assign_alias_os: rtual_env = os
0x6bc4:$assign_alias_os: tual_env = os
0x6bc5:$assign_alias_os: ual_env = os
0x6bc6:$assign_alias_os: al_env = os
0x6bc7:$assign_alias_os: l_env = os
0x6bc8:$assign_alias_os: _env = os
0x6bc9:$assign_alias_os: env = os
0x6bca:$assign_alias_os: nv = os
0x6bcb:$assign_alias_os: v = os
0x6d0f:$assign_alias_os: src_dir = os
0x6d10:$assign_alias_os: rc_dir = os
0x6d11:$assign_alias_os: c_dir = os
0x6d12:$assign_alias_os: _dir = os
0x6d13:$assign_alias_os: dir = os
0x6d14:$assign_alias_os: ir = os
0x6d15:$assign_alias_os: r = os
0x721f:$assign_alias_os: download_dir = os
0x7220:$assign_alias_os: ownload_dir = os
0x7221:$assign_alias_os: wnload_dir = os
0x7222:$assign_alias_os: nload_dir = os
0x7223:$assign_alias_os: load_dir = os
0x7224:$assign_alias_os: oad_dir = os
0x7225:$assign_alias_os: ad_dir = os
0x7226:$assign_alias_os: d_dir = os
0x7227:$assign_alias_os: _dir = os
0x7228:$assign_alias_os: dir = os
0x7229:$assign_alias_os: ir = os
0x722a:$assign_alias_os: r = os
0x728d:$assign_alias_os: wheel_download_dir = os
0x728e:$assign_alias_os: heel_download_dir = os
0x728f:$assign_alias_os: eel_download_dir = os
0x7290:$assign_alias_os: el_download_dir = os
0x7291:$assign_alias_os: l_download_dir = os
0x7292:$assign_alias_os: _download_dir = os
0x7293:$assign_alias_os: download_dir = os
0x7294:$assign_alias_os: ownload_dir = os
0x7295:$assign_alias_os: wnload_dir = os
0x7296:$assign_alias_os: nload_dir = os
0x7297:$assign_alias_os: load_dir = os
0x7298:$assign_alias_os: oad_dir = os
0x7299:$assign_alias_os: ad_dir = os
0x729a:$assign_alias_os: d_dir = os
0x729b:$assign_alias_os: _dir = os
0x729c:$assign_alias_os: dir = os
0x729d:$assign_alias_os: ir = os
0x729e:$assign_alias_os: r = os
0x7a96:$assign_alias_os: ext = os
0x7a97:$assign_alias_os: xt = os
0x7a98:$assign_alias_os: t = os
0x8017:$assign_alias_os: base_dir = os
0x8018:$assign_alias_os: ase_dir = os
0x8019:$assign_alias_os: se_dir = os
0x801a:$assign_alias_os: e_dir = os
0x801b:$assign_alias_os: _dir = os
0x801c:$assign_alias_os: dir = os
0x801d:$assign_alias_os: ir = os
0x801e:$assign_alias_os: r = os
0x819f:$assign_alias_os: base_dir = os
0x81a0:$assign_alias_os: ase_dir = os
0x81a1:$assign_alias_os: se_dir = os
0x81a2:$assign_alias_os: e_dir = os
0x81a3:$assign_alias_os: _dir = os
0x81a4:$assign_alias_os: dir = os
0x81a5:$assign_alias_os: ir = os
0x81a6:$assign_alias_os: r = os
0x924c:$assign_alias_os: target_cwd = os
0x924d:$assign_alias_os: arget_cwd = os
0x924e:$assign_alias_os: rget_cwd = os
0x924f:$assign_alias_os: get_cwd = os
0x9250:$assign_alias_os: et_cwd = os
0x9251:$assign_alias_os: t_cwd = os
0x9252:$assign_alias_os: _cwd = os
0x9253:$assign_alias_os: cwd = os
0x9254:$assign_alias_os: wd = os
0x9255:$assign_alias_os: d = os
0x92a8:$assign_alias_os: egg_base = os
0x92a9:$assign_alias_os: gg_base = os
0x92aa:$assign_alias_os: g_base = os
0x92ab:$assign_alias_os: _base = os
0x92ac:$assign_alias_os: base = os
0x92ad:$assign_alias_os: ase = os
0x92ae:$assign_alias_os: se = os
0x92af:$assign_alias_os: e = os
0x93d8:$assign_alias_os: script_name = os
0x93d9:$assign_alias_os: cript_name = os
0x93da:$assign_alias_os: ript_name = os
0x93db:$assign_alias_os: ipt_name = os
0x93dc:$assign_alias_os: pt_name = os
0x93dd:$assign_alias_os: t_name = os
0x93de:$assign_alias_os: _name = os
0x93df:$assign_alias_os: name = os
0x93e0:$assign_alias_os: ame = os
0x93e1:$assign_alias_os: me = os
0x93e2:$assign_alias_os: e = os
0x9632:$assign_alias_os: python = os
0x9633:$assign_alias_os: ython = os
0x9634:$assign_alias_os: thon = os
0x9635:$assign_alias_os: hon = os
0x9636:$assign_alias_os: on = os
0x9637:$assign_alias_os: n = os
0x148:$from_os_import: from os import 
0x1114:$bare_system: system
0x14e5:$bare_system: system
0x23c1:$bare_system: system
0x243f:$bare_system: system
0x3447:$bare_system: system
0xbe72:$bare_system: system
0xc35a:$bare_system: system
0x97a:$bare_exec: executable,
0x3827:$bare_exec: executing it."""
0x95be:$bare_exec: exec(contents, g)
0x9661:$bare_exec: executable)
0x976:$alias_exec: sys.executable,
0x977:$alias_exec: ys.executable,
0x978:$alias_exec: s.executable,
0x965d:$alias_exec: sys.executable)
0x965e:$alias_exec: ys.executable)
0x965f:$alias_exec: s.executable)
subprocess_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py
0x7d:$import_alias_subprocess_import: \x0Aimport subprocess as sp
0x800:$bare_run: run
0x8cf:$bare_run: run
0xa36:$bare_run: run
0xb9d:$bare_run: run
0xbb8:$bare_run: run
0x1582:$bare_run: run
0x1751:$bare_run: run
0x2238:$bare_run: run
0x88a6:$bare_run: run
0x906d:$bare_run: run
0x9119:$bare_run: run
0x94f6:$bare_run: run
0x9602:$bare_run: run
0x967d:$bare_run: run
0xb9c3:$bare_run: run
0xba48:$bare_run: run
0xc8c4:$bare_run: run
0xd434:$bare_run: run
0xd7c6:$bare_run: run
0xd7e3:$bare_run: run
0xdbb4:$bare_run: run
0x850:$bare_call: call
0x2b28:$bare_call: call
0x2bb0:$bare_call: call
0x2be9:$bare_call: call
0x2d86:$bare_call: call
0x3926:$bare_call: call
0x3943:$bare_call: call
0x3963:$bare_call: call
0x39a5:$bare_call: call
0x3a0c:$bare_call: call
0x3a4f:$bare_call: call
0x3a75:$bare_call: call
0x3aa1:$bare_call: call
0x3ac7:$bare_call: call
0x3aff:$bare_call: call
0x3b28:$bare_call: call
0x3b53:$bare_call: call
0x3b7a:$bare_call: call
0x3ba6:$bare_call: call
0x3bdd:$bare_call: call
0x42c0:$bare_call: call
0x4457:$bare_call: call
0x45af:$bare_call: call
0x45d0:$bare_call: call
0x45fd:$bare_call: call
0x463e:$bare_call: call
0x4949:$bare_call: call
0x4982:$bare_call: call
0x4a76:$bare_call: call
0x4a8d:$bare_call: call
0x4ab5:$bare_call: call
0x4ae1:$bare_call: call
0x4af4:$bare_call: call
0x4b3f:$bare_call: call
0x4b9b:$bare_call: call
0x4bef:$bare_call: call
0x4bf4:$bare_call: call
0x4c6e:$bare_call: call
0x4c7a:$bare_call: call
0x4ec5:$bare_call: call
0x510f:$bare_call: call
0x51a7:$bare_call: call
0x51ac:$bare_call: call
0x5224:$bare_call: call
0x5230:$bare_call: call
0x5487:$bare_call: call
0x5984:$bare_call: call
0x59e8:$bare_call: call
0x59ed:$bare_call: call
0x5a59:$bare_call: call
0x5a65:$bare_call: call
0x5cb1:$bare_call: call
0x5e9e:$bare_call: call
0x5ea3:$bare_call: call
0x5ee9:$bare_call: call
0x5f76:$bare_call: call
0x5f82:$bare_call: call
0x5fd3:$bare_call: call
0x6958:$bare_call: call
0x69bc:$bare_call: call
0x69f7:$bare_call: call
0x6a32:$bare_call: call
0x6a6d:$bare_call: call
0x8cc:$alias_run: sp.run
0x8cd:$alias_run: p.run
0xa33:$alias_run: sp.run
0xa34:$alias_run: p.run
0x157f:$alias_run: sp.run
0x1580:$alias_run: p.run
0x174e:$alias_run: sp.run
0x174f:$alias_run: p.run
0x2235:$alias_run: sp.run
0x2236:$alias_run: p.run
0x967a:$alias_run: sp.run
0x967b:$alias_run: p.run
0xc8bf:$alias_run: self.run
0xc8c0:$alias_run: elf.run
0xc8c1:$alias_run: lf.run
0xc8c2:$alias_run: f.run
0xd7c1:$alias_run: self.run
0xd7c2:$alias_run: elf.run
0xd7c3:$alias_run: lf.run
0xd7c4:$alias_run: f.run
0xd7de:$alias_run: self.run
0xd7df:$alias_run: elf.run
0xd7e0:$alias_run: lf.run
0xd7e1:$alias_run: f.run
0xdbaf:$alias_run: self.run
0xdbb0:$alias_run: elf.run
0xdbb1:$alias_run: lf.run
0xdbb2:$alias_run: f.run
networking_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py
0x1d0:$from_urllib_import: from urllib.parse import
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/setup_info.py
0x318:$dir_call: dir i
0x566:$dir_call: dir, 
0x734:$dir_call: dir("
0xaac:$dir_call: dir, 
0xaf4:$dir_call: dir, 
0xb37:$dir_call: dir =
0xb54:$dir_call: dir)\x0A
0xc29:$dir_call: dir, 
0x10f3:$dir_call: dir)\x0A
0x110b:$dir_call: dir i
0x1199:$dir_call: dir(p
0x139f:$dir_call: dir i
0x13f5:$dir_call: dir))
0x14bc:$dir_call: dir)\x0A
0x14d0:$dir_call: dir i
0x1dd4:$dir_call: dir(p
0x1df6:$dir_call: dir(p
0x267a:$dir_call: dir(f
0x2f31:$dir_call: dir(p
0x68a7:$dir_call: dir, 
0x68b2:$dir_call: dir, 
0x694b:$dir_call: dir)\x0A
0x6973:$dir_call: dir, 
0x6b2b:$dir_call: dir, 
0x6b50:$dir_call: dir(r
0x6cb6:$dir_call: dir =
0x6ccf:$dir_call: dir(p
0x6d13:$dir_call: dir =
0x6d48:$dir_call: dir, 
0x7228:$dir_call: dir =
0x7274:$dir_call: dir, 
0x729c:$dir_call: dir =
0x72f0:$dir_call: dir, 
0x730f:$dir_call: dir i
0x735a:$dir_call: dir =
0x739c:$dir_call: dir =
0x73ab:$dir_call: dir(r
0x73e9:$dir_call: dir =
0x7402:$dir_call: dir(p
0x744f:$dir_call: dir i
0x7468:$dir_call: dir =
0x7481:$dir_call: dir(p
0x74a4:$dir_call: dir =
0x74bd:$dir_call: dir(p
0x7501:$dir_call: dir,\x0A
0x751d:$dir_call: dir,\x0A
0x7543:$dir_call: dir,\x0A
0x7575:$dir_call: dir,\x0A
0x75d9:$dir_call: dir(p
0x771e:$dir_call: dir(p
0x79ca:$dir_call: dir(p
0x7a6f:$dir_call: dir()
0x7c73:$dir_call: dir i
0x7cb2:$dir_call: dir i
0x7cf4:$dir_call: dir f
0x7cff:$dir_call: dir i
0x7d15:$dir_call: dir i
0x7d47:$dir_call: dir i
0x7e06:$dir_call: dir i
0x7e77:$dir_call: dir i
0x7f08:$dir_call: dir i
0x7f8e:$dir_call: dir =
0x7fd9:$dir_call: dir i
0x7ffb:$dir_call: dir =
0x801c:$dir_call: dir =
0x803b:$dir_call: dir)\x0A
0x8071:$dir_call: dir))
0x8119:$dir_call: dir =
0x8162:$dir_call: dir i
0x8184:$dir_call: dir =
0x81a4:$dir_call: dir =
0x81c3:$dir_call: dir)\x0A
0x81f2:$dir_call: dir, 
0x8200:$dir_call: dir)\x0A
0x9e76:$dir_call: dir: 
0xabac:$dir_call: dir)\x0A
0xaca2:$dir_call: dir(p
0xbfe2:$dir_call: dir =
0xc02c:$dir_call: dir:\x0A
0xc05a:$dir_call: dir}/
0xc472:$dir_call: dir,\x0A
0xcb23:$dir_call: dir: 
0xcd95:$dir_call: dir i
0xcdcc:$dir_call: dir] 
0xd975:$dir_call: dir):
0xdde0:$dir_call: dir,\x0A
0xe094:$dir_call: dir =
0xe0f6:$dir_call: dir, 
0xe5e5:$dir_call: dir =
0xe65e:$dir_call: dir =
0xe6ac:$dir_call: dir =
0xe6ea:$dir_call: dir i
0xe732:$dir_call: dir i
0xe839:$dir_call: dir:\x0A
0xe850:$dir_call: dir:\x0A
0xe88d:$dir_call: dir}"
0xe9c9:$dir_call: dir(k
0xea17:$dir_call: dir:\x0A
0xea6d:$dir_call: dir()
0xea91:$dir_call: dir(l
0xec03:$dir_call: dir,\x0A
0xec7e:$dir_call: dir,\x0A
0xec9f:$dir_call: dir,\x0A
0xed33:$dir_call: dir: 
0xee01:$dir_call: dir o
0xee0d:$dir_call: dir i
0xee85:$dir_call: dir, 
0xeea2:$dir_call: dir =
0xeeb2:$dir_call: dir)\x0A
0xef60:$dir_call: dir =
0x95be:$exec_call: exec(c
0x76a7:$getattr_call: getattr(s
0x856a:$getattr_call: getattr(m
0x87f8:$getattr_call: getattr(m
0x8893:$getattr_call: getattr(m
0x9ccc:$getattr_call: getattr(r
0x9cf5:$getattr_call: getattr(r
0x9d27:$getattr_call: getattr(r
0xe09a:$getattr_call: getattr(r
0xe542:$getattr_call: getattr(\x0A
0xe56c:$getattr_call: getattr(i
0xe781:$getattr_call: getattr(i
0xe7f1:$getattr_call: getattr(i
0x10d3:$vars_call: vars(r
0x148a:$vars_call: vars(r
0x1862:$vars_call: vars(v
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/funktools.py
0x151:$getattr_call: getattr(e
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/old_pip_utils.py
0xa79:$dir_call: dir (
0x53e:$locals_call: locals()
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/dependencies.py
0x117:$dir_call: dir("
0x556:$dir_call: dir =
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/vcs.py
0x0:$import_importlib: import importlib
0xdfb:$sys_modules: sys.modules
0x6d:$dir_call: dir i
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/environment.py
0x11a:$dir_call: dir("
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/pipfile.py
0x15eb:$dir_call: dir).
0x168a:$dir_call: dir, 
0x1bf2:$getattr_call: getattr(p
0x1d9a:$getattr_call: getattr(r
0x1e99:$getattr_call: getattr(p
0x1f21:$getattr_call: getattr(\x0A
0x1f77:$getattr_call: getattr(s
networking_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/fileutils.py
0xc0:$from_http_import: from http.client import
0x192:$from_urllib_import: from urllib import
0x1bb:$from_urllib_import: from urllib import
0x1e8:$from_urllib_import: from urllib.parse import
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/fileutils.py
0x35d:$dir_call: dir))
0x3f6:$dir_call: dir))
0x457:$dir_call: dir))
0x50e:$dir_call: dir(s
0x54e:$dir_call: dir(p
0x1710:$dir_call: dir(l
0x2026:$dir_call: dir(*
0x2175:$dir_call: dir =
0x21cc:$dir_call: dir)\x0A
0x258a:$dir_call: dir('
0x19f8:$getattr_call: getattr(r
0xb4b:$vars_call: vars(\x0A
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/pyproject.toml
0x172:$dir_call: dir =
subprocess_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/CHANGELOG.rst
0x2e42:$bare_run: run
0x5b5c:$bare_run: run
0x6bf1:$bare_run: run
0x72c0:$bare_run: run
0x85a4:$bare_run: run
0x6c08:$bare_Popen: Popen
0xe2b:$bare_call: call
0x26bb:$bare_call: call
0x26ed:$bare_call: call
0x38b3:$bare_call: call
0x3a95:$bare_call: call
0x3f4c:$bare_call: call
0x4027:$bare_call: call
0x5f58:$bare_call: call
0x68a2:$bare_call: call
0x6c10:$bare_call: call
0x6be6:$alias_run: subprocess.run
0x6be7:$alias_run: ubprocess.run
0x6be8:$alias_run: bprocess.run
0x6be9:$alias_run: process.run
0x6bea:$alias_run: rocess.run
0x6beb:$alias_run: ocess.run
0x6bec:$alias_run: cess.run
0x6bed:$alias_run: ess.run
0x6bee:$alias_run: ss.run
0x6bef:$alias_run: s.run
0x6bfd:$alias_Popen: subprocess.Popen
0x6bfe:$alias_Popen: ubprocess.Popen
0x6bff:$alias_Popen: bprocess.Popen
0x6c00:$alias_Popen: process.Popen
0x6c01:$alias_Popen: rocess.Popen
0x6c02:$alias_Popen: ocess.Popen
0x6c03:$alias_Popen: cess.Popen
0x6c04:$alias_Popen: ess.Popen
0x6c05:$alias_Popen: ss.Popen
0x6c06:$alias_Popen: s.Popen
0x6be6:$fq_run: subprocess.run
0x6bfd:$fq_Popen: subprocess.Popen
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/CHANGELOG.rst
0x2043:$vars_call: vars i
networking_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/utils.py
0x7b1:$from_urllib_import: from urllib.parse import
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/utils.py
0x1db6:$dir_call: dir(n
0x1dde:$dir_call: dir(\x0A
0x3d7e:$getattr_call: getattr(c
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirementslib-3.0.0/requirementslib-3.0.0/src/requirementslib/models/utils.py
0xb13:$compile_call: compile(N
0xd1c:$compile_call: compile(r
0xd6d:$compile_call: compile(r
0x3d87:$dir_call: dir()
0x341f:$getattr_call: getattr(r
0x39c1:$getattr_call: getattr(s
0x5734:$getattr_call: getattr(i
0x652e:$vars_call: vars i
