metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirements_detector-1.3.2/requirements_detector-1.3.2/requirements_detector/run.py
0x1e3:$dir_call: dir()
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirements_detector-1.3.2/requirements_detector-1.3.2/requirements_detector/__init__.py
0xd8:$dir_call: dir,\x0A
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirements_detector-1.3.2/requirements_detector-1.3.2/requirements_detector/poetry_semver/patterns.py
0x124:$compile_call: compile("
0x15f:$compile_call: compile(r
0x1a8:$compile_call: compile("
0x1fb:$compile_call: compile("
0x23f:$compile_call: compile(r
0x29a:$compile_call: compile(r
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirements_detector-1.3.2/requirements_detector-1.3.2/requirements_detector/detect.py
0xa71:$dir_call: dir =
0xac6:$dir_call: dir()
0xada:$dir_call: dir =
0xaf2:$dir_call: dir(r
0xb03:$dir_call: dir)\x0A
0xb18:$dir_call: dir i
0x1757:$dir_call: dir(p
0x17ec:$dir_call: dir()
0x197a:$dir_call: dir()
networking_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirements_detector-1.3.2/requirements_detector-1.3.2/requirements_detector/requirement.py
0x296:$from_urllib_import: from urllib import
