metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirements_parser-0.11.0/requirements_parser-0.11.0/tests/test_parser.py
0x39b:$dir_call: dir: 
0x3f7:$dir_call: dir =
0x466:$dir_call: dir(T
0x489:$dir_call: dir):
0x4c4:$dir_call: dir, 
0x5db:$dir_call: dir, 
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirements_parser-0.11.0/requirements_parser-0.11.0/requirements/fragment.py
0x3ad:$compile_call: compile(r
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirements_parser-0.11.0/requirements_parser-0.11.0/requirements/parser.py
0x76b:$getattr_call: getattr(r
metaprogramming_in_setup /home/blue/PyPIAgent/Dataset/study/unzip_benign/requirements_parser-0.11.0/requirements_parser-0.11.0/requirements/requirement.py
0x3ba:$compile_call: compile(\x0A
0x4c1:$compile_call: compile(\x0A
0x5a1:$compile_call: compile(r
0xdd3:$getattr_call: getattr(s
